# dependencies
node_modules/

# Next.js build output
/.next/
/out/
/artifacts/
/output/
/tmp/

# production build
/build

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Python caches
__pycache__/
*.py[cod]
